.header,
footer {
  background-color: #f7948d;
  text-align: center;
  font-size: xx-large;
  font-weight: 500;

  padding: 25px;
}

.main {
  background-color: #f2b1ac;
  text-align: center;
  font-size: large;
  font-weight: 400;
}
